<h2>Transaction list</h2>
<table matSort (matSortChange)="sortData($event)" class="table">
  <tr>
    <th mat-sort-header="id">Id</th>
    <th mat-sort-header="amount">Amount</th>
    <th mat-sort-header="balance">Balance</th>
    <th mat-sort-header="label">Label</th>
    <th mat-sort-header="date">Date</th>
  </tr>

  <tr
    *ngFor="let transaction of sortedData"
    class="content"
    [routerLink]="['/transactions', transaction.id]"
  >
    <td>{{ transaction.id }}</td>
    <td>{{ transaction.amount }}</td>
    <td>{{ transaction.balance }}</td>
    <td>{{ transaction.label }}</td>
    <td>{{ transaction.date }}</td>
  </tr>
</table>
